.page-block {
  display: flex;
  flex-wrap: wrap;
}

.page-block-content {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.page-block-sub-content {
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
  width: 30%;
}

.page-sub-head {
  font-size: 1.5rem;
  padding: 0.5rem;
  color: var(--truegray100);
  background-color: var(--truegray700);
}

.page-sub-data {
  display: flex;
  justify-content: space-between;
  padding: 0.25rem 0.5rem;
  border-bottom: 0.1px solid #a3a3a3;
}

.page-sub-txt,
.page-sub-info {
  font-size: 1.25rem;
}

.btn-checkout {
  border: none;
  outline: none;
  font-size: 1.25rem;
  color: var(--truegray100);
  background-color: var(--truegray700);
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  position: absolute;
  right: 1em;
  cursor: pointer;
}

.page-sub-layout {
  width: 50%;
  margin: 0rem auto;
}

.page-address-block{
  width:70%;
  display: flex;
  flex-direction: column;
  position: relative;
  padding:0.5rem;
  margin:1rem auto;
  background-color: #F8FAFC;
}

.page-address-block-head{
  display:flex;
  margin-bottom:0.25rem;
}

.page-address-block-img{
  height:2rem;
  width:2rem;
  margin:0rem 0.5rem;
}

.page-address-block-txt{
  font-size:var(--txt-115)
}

.page-user{
  font-size: var(--txt-15);
}

.page-address{
  margin-top:0.25rem;
  font-size: var(--txt-125);
  width:60%;
  text-overflow: ellipsis;
}

.btn-page-nav{
  position: absolute;
  top:0.5em;
  right:0.5em;
  color:whitesmoke;
  background-color: var(--truegray900);
  font-size: var(--txt-115);
  padding:0.25rem 1rem;
  border:none;
  outline:none;
}

@media screen and (max-width: 600px) {
  .page-sub-layout {
    width: auto;
  }

  .page-block {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .page-block-content {
    width: auto;
  }

  .page-block-sub-content {
    margin: 2rem 0rem 1rem 0rem;
    width: auto;
  }

  .page-address-block{
    width:95%;
  }
}
