.nav-mob {
  padding: 0rem;
  margin: 0rem;
}

.nav-mob-top {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: white;
  box-shadow: 0px 2px 4px var(--bg-nav);
}

.nav-mob-logo {
  font-family: inherit;
  font-size: var(--txt-25);
  color: var(--colorLogo);
  padding-left: 0.5rem;
  flex: 1 1 auto;
}

.btn-icon:hover {
  background: transparent;
  cursor: pointer;
}

.btn-sign-in {
  background: transparent;
  font-size: var(--txt-125);
  border: 1px solid gray;
  color: var(--txt-dark);
  outline: none;
  cursor: pointer;
  padding: 0.2rem 0.5rem;
  position: relative;
  border-radius: 0.25rem;
  top: 0.5em;
}

.nav-icon-img {
  height: 2.25rem;
  width: 2.25rem;
}

@media screen and (max-width: 600px) {
  .nav-mob-top {
    padding: 0.5rem;
    margin: 0rem;
  }

  .nav-mob-logo {
    font-size: var(--txt-2);
  }

  .nav-mob-bottom {
    width: 100%;
    position: fixed;
    bottom: 0em;
    display: flex;
    justify-content: space-between;
    padding: 0.25rem;
    z-index: 10;
    background-color: white;
  }

  .btn-sign-in {
    font-size: var(--txt-115);
    top: 0.4em;
  }
}
