.product-block {
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 1rem;
  margin: 1rem auto;
}

.product-main {
  display: flex;
  background-color: #FAFAFA;
}

.product-main-img {
  padding: 1rem ;
  width: 43%;
}

.product-img {
  max-width: 100%;
  margin:0rem auto;
}

.product-main-detail {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width:57%;
}

.product-new {
  font-size: var(--txt-125);
  color: var(--colorLogo);
}

.product-cat {
  display: flex;
}

.product-cat-main {
  font-size: var(--txt-15);
  margin-right: 0.5rem;
}

.product-cat-sep {
  font-size: var(--txt-125);
}

.product-cat-sub {
  font-size: var(--txt-15);
  margin-left: 0.5rem;
}

.product-brand {
  font-size: 2.35rem;
  opacity: 0.8;
}

.product-name {
  font-size: 2.85rem;
  position: relative;
  top: -0.2em;
  margin-bottom: 1.5rem;
}

.product-discount {
  border: none;
  outline: none;
  pointer-events: none;
  color: whitesmoke;
  background-color: var(--truegray900);
  font-size: var(--txt-1);
  padding: 0.25rem 1.5rem;
}

.product-price {
  margin-top: 0.35rem;
  font-size: var(--txt-175);
  margin-bottom: 1.5rem;
}

.product-price .tax-msg {
  font-size: 0.85rem;
}

.product-del {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.del-msg {
  font-size: 0.85rem;
}

.product-pin {
  background: transparent;
  padding: 0.5rem;
  font-size: var(--txt-1);
  outline: none;
  border: 1px solid var(--truegray700);
}

.btn-pin {
  padding: 0.5rem 1rem;
  font-size: var(--txt-1);
  border: none;
  outline: none;
  color: whitesmoke;
  background-color: var(--truegray900);
}

.product-btn{
    display: flex;
    flex-direction: column;
    width:60%;
}

.product-btn button{
    font-size: var(--txt-125);
    color: var(--truegray50);
    background-color: var(--truegray900);
    padding:0.25rem 0rem;
    margin:0.25rem 0rem;
    border-radius: 1.5rem;
    border: none;
    outline: none;
}

.product-sub{
  margin:2rem auto;
  display:flex;
  flex-direction: column;
  width:100%;
}

.product-sub-head{
  margin-top: 1rem;
  margin-left: 1rem;
  font-size: var(--txt-15);
}

.product-sub-content {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  overflow-y: hidden;
}

.product-sub-content::-webkit-scrollbar {
  height: 5px;
}

.product-sub-content::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.product-sub-content::-webkit-scrollbar-thumb {
  background: var(--truegray600);
}

.width270{
  width:270px;
  /* margin:0rem auto; */
  flex-shrink: 0;
  flex-grow: 1;
  margin:1rem;
}

@media screen and (max-width: 600px) {
  .product-block {
    width: auto;
    padding: 0.5rem;
  }

  .product-main {
    flex-direction: column;
  }

  .product-main-img {
    padding: 0.5rem;
    width: auto;
  }

  .product-main-detail{
      width:auto;
  }

  .product-btn{
      width:auto;
  }


}
