@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

:root {
  --colorLogo: #dc2626;
  --bg-nav: #e5e5e5;
  --bg-footer: #d4d4d4;
  --txt-dark: #171717;
  --txt-225: 2.25rem;
  /*  */
  --borderRight: #e4e4e7;
  --borderTop: #d4d4d8;
  --navBg: white;
  --btnLabel: #18181b;
}

body {
  padding: 0rem;
  margin: 0rem;
}

.App {
  font-family: "Oswald", sans-serif;
  padding: 0rem;
}

