@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

:root {
  --colorLogo: #dc2626;
  --bg-nav: #e5e5e5;
  --bg-footer: #d4d4d4;
  --txt-dark: #171717;
  --txt-225: 2.25rem;
  /*  */
  --borderRight: #e4e4e7;
  --borderTop: #d4d4d8;
  --navBg: white;
  --btnLabel: #18181b;
}

body {
  padding: 0rem;
  margin: 0rem;
}

.App {
  font-family: "Oswald", sans-serif;
  padding: 0rem;
}

.align-center {
  text-align: center;
}

.toast-class {
  width: 90%;
  margin-top: 1rem;
  background-color: #404040;
}

.toast-body {
  background-color: #404040;
  color: #fafafa;
}

.page-head {
  font-size: var(--txt-225);
  padding: 1rem;
}

.page-layout {
  width: 70%;
  margin: 0rem auto;
}

.page-container {
  display: flex;
  flex-wrap: wrap;
}

.component-head {
  font-size: var(--txt-225);
  color: var(--txt-light-secondary);
  text-align: center;
  margin-top: 2rem;
}

.empty-container {
  font-size: 2rem;
  opacity: 0.6;
  margin: 0rem auto;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.btn-empty {
  font-size: 1.5rem;
  border: none;
  outline: none;
  color: var(--truegray800);
  cursor: pointer;
}


@media screen and (max-width: 600px) {
  .page-head {
    font-size: var(--txt-175);
  }

  .page-layout {
    width: auto;
  }

  .page-container {
    padding: 0rem;
    margin: 0rem;
  }
}
